// Theme Default: Variables
// -------------------------------------

// Colors
$theme-colors: (
  'primary': (
    'base': #ff596f
  ),
  'secondary': (
    'base': #70d486
  ),
  'tertiary': (
    'base': #44cbe6
  ),
  'accent': (
    'base': #1db9de
  ),
  'success': (
    'base': #8ec03f
  ),
  'danger': (
    'base': #c03f3f
  ),
  'white': (
    'base': #fff
  ),
  'gray': (
    'light': #f6f7fb,
    'base': #e8ebf3,
    'dark': darken(#e8ebf3, 10%)
  ),
  'contrast': (
    '100': transparentize(#464b50, .9),
    '200': transparentize(#464b50, .8),
    '300': transparentize(#464b50, .7),
    '400': transparentize(#464b50, .6),
    '500': transparentize(#464b50, .5),
    '600': transparentize(#464b50, .4),
    '700': transparentize(#464b50, .3),
    '800': transparentize(#464b50, .2),
    '900': transparentize(#464b50, .1)
  ),
  'text': (
    'base': #464b50
  ),
  'bg': (
    'base': #fff
  ),
  'selection': (
    'base': transparentize(#ff596f, .7)
  )
) !default;

$theme-colors-set: (
  'primary',
  'secondary',
  'tertiary',
  'accent',
  'success',
  'danger'
) !default;;

// Text
$root-font-size: 16px !default;
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-roboto: 'Roboto' !default;
$base-font-family: $font-roboto, $font-system !default;

// Utils
$transition: .06s !default;
$border-radius: 5px !default;

// Shadow
$box-shadow-default: 6px 6px 2px -3px !default;
$box-shadow-color-default: transparentize(#000, .9) !default;

// Breakpoints
$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'mobile': 992px
) !default;

// A map containing all z-index layers
// In case of having duplication of the same value
// the first occurrence will be used (top to bottom)
$z-indexes-map: (
  'under': -1,
  'default': 1,
  'modal-overlay': 100,
  'modal': 101,
  'dialog': 200
) !default;

// To toggle warn or error messages
$z-indexes-log: (
  'used-key': true,
  'used-value': true,
  'less-than': false,
  'error': true
) !default;

// Sidebar
$sidebar-width: 300px;
$sidebar-trans-duration: 0.25s;
$sidebar-trans-ease: ease-out;
$sidebar-overlay-color: rgba(0, 0, 0, 0.46);
