@import "themes";

%gridify {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
  border: 1px solid theme-color('contrast', '200');
  border-left: none;
  border-right: none;

  @include breakpoint(min-width, bp-media(md)) {
    grid-template-columns: repeat(5, 1fr);
  }
}

%gridify-item { text-align: center };

.calendar-header {
  @extend %gridify;

  &-item {
    @extend %gridify-item;
  }

  &-weekday {
    font-size: .9rem;
    letter-spacing: 2px;
    color: theme-color('contrast', '400');
  }

  &-day {
    font-size: 1.2rem;
    line-height: 1.4;
    color: theme-color('contrast', '900');
  }
}

.calendar-body {
  @extend %gridify;
  border-top: none;

  &-item {
    @extend %gridify-item;
  }
}

.calendar-slot {
  & + & { margin-top: .5rem; }
}

.calendar-slot-btn {
  width: 100%;
  max-width: 130px;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  height: auto;
  width: clamp(300px, 70%, 90%);
  background-color: theme-color('white');
  z-index: get-zindex('modal');
  visibility: hidden;
  box-shadow: 2px 1px 2px 2px theme-color('contrast', '700');
  border-radius: $border-radius;
  transition: $transition ease;
  transform: translate(-50%, -30%);

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: theme-color('white');
    font-size: 1.2rem;
    background-color: theme-color('primary');
    @include border-top-radius;
  }

  &-content {
    width: 86%;
    margin: 0 auto;
    padding: 2rem 0;

    li + li { margin-top: .5rem; }
  }

  &.open {
    @include visible;
  }

  &-close {
    // @extend %btn-reset;
    &:hover {
      color: theme-color('accent');
    }
  }

  &-footer {
    width: 86%;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    text-align: center;
    border-top: 1px solid theme-color('contrast', '100');
  }
}
