<div class="calendar-wrapper">
  <header>
    <ul *ngIf="calendar" class="calendar-header">
      <li *ngFor="let result of calendar" class="calendar-header-item">
        <div class="calendar-header-weekday">
          <strong>{{ result.day | date: 'E' | uppercase }}</strong>
        </div>
        <div class="calendar-header-day">
          <strong>{{ result.day | date: 'MMM d' }}</strong>
        </div>
      </li>
    </ul>
  </header>

  <ul *ngIf="calendar" class="calendar-body">
    <li *ngFor="let result of calendar" class="calendar-body-item">
      <ng-template [ngIf]="result.slots.length" [ngIfElse]="noSlots">
        <ul>
          <li *ngFor="let slot of result.slots | slice:0:slotsShowLimit" class="calendar-slot">
            <button class="calendar-slot-btn btn btn-default">{{ slot.time }}</button>
          </li>
          <div class="calendar-slot">
            <button *ngIf ="slotsShowLimit < result.slots.length" (click)="showMoreItems(result)" class="calendar-slot-btn btn btn-default">Show More</button>
          </div>
          <div class="calendar-slot">
            <button *ngIf ="slotsShowLimit > 3" (click)="showLessItems(result)" class="calendar-slot-btn btn btn-default">Show Less</button>
          </div>
        </ul>
      </ng-template>
    </li>
  </ul>
</div>

<div class="modal ope">
  <div class="modal-header">
    <div><strong>Selected Time</strong></div>
    <button>x</button>
  </div>
  <div class="modal-content">
    <ul>
      <li>Date: <strong>Mon, May 10</strong></li>
      <li>Time: <strong>7:00 AM</strong></li>
      <li>Olieratory ID: <strong>1234</strong></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default">OK</button>
  </div>
</div>


<ng-template #noSlots>
  <div>...</div>
</ng-template>
