// Theme Default: Component - Modal
// --------------------------------------------

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: theme-color('contrast', '800');
  transition: $transition ease;
  z-index: get-zindex('modal-overlay');
  @include invisible;

  &.open {
    @include visible;
  }
}
