// Theme Dark: Variable
// -------------------------------------

// Colors
$theme-colors: (
  'primary': (
    'base': #213d8f // cobalt
  ),
  'secondary': (
    'base': #8ec03f // avocado
  ),
  'accent': (
    'base': #1db9de // topaz
  ),
  'success': (
    'base': #8ec03f // avocado
  ),
  'danger': (
    'base': #c03f3f // avocado
  ),
  'white': (
    'base': #fff // greyish-brown
  ),
  'grey': (
    'light': #f6f7fb, // pale-grey
    'base': #e8ebf3, // pale-grey-two
    'dark': darken(#e8ebf3, 10%)
  ),
  'contrast': (
    '100': transparentize(#000, .9),
    '200': transparentize(#000, .8),
    '300': transparentize(#000, .7),
    '400': transparentize(#000, .6),
    '500': transparentize(#000, .5),
    '600': transparentize(#000, .4),
    '700': transparentize(#000, .3),
    '800': transparentize(#000, .2),
    '900': transparentize(#000, .1)
  ),
  'text': (
    'base': #4a4a4a
  ),
  'bg': (
    'base': #4a4a4a
  ),
  'card-bg': (
    'base': #fff
  ),
);

// Text
$base-font-size: 14px;
$base-line-height: 18px;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-sans-pro: 'Source Sans Pro';
$base-font-family: $font-sans-pro, $font-system;

// Utils
$transition: .06s;
$border-radius: 2px;

// Shadow
$box-shadow-default: 6px 6px 2px -3px;
$box-shadow-color-default: theme-color('constrast', '100');

// Breakpoints
$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'mobile': 992px
);

// Zindexex
$zindex: (
  belowLayer   : -1,
  defaultLayer : 0,
  firstLayer   : 1000,
  secondLayer  : 2000,
  thirdLayer   : 3000,
  fourthLayer  : 4000,
  fifthLayer   : 5000,
  sixthLayer   : 6000,
  seventhLayer : 7000,
  eighthLayer  : 8000,
  ninthLayer   : 9000,
  tenthLayer   : 10000
);
